# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/library/common/values.schema.json
controllers:
  kamstrup-mqtt:
    containers:
      app:
        image:
          repository: ghcr.io/sebastiaankok/kamstrup-402-mqtt
          tag: aee0caf7fab340dd167be3b3c71a7574b45257b2
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              tcpSocket:
                host: rpi4-ser2net.otohgunga.nl
                port: 20408
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 2
              failureThreshold: 3
        securityContext:
          runAsUser: 1003
          runAsGroup: 1003
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            memory: 512Mi

service:
  app:
    enabled: false

ingress:
  app:
    enabled: false

persistence:
  config:
    enabled: true
    type: configMap
    name: kamstrup-config
    advancedMounts:
      kamstrup-mqtt:
        app:
          - path: /opt/kamstrup/config.yaml
            subPath: config.yaml
  serial-socket:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /opt/kamstrup/serial
