# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/library/common/values.schema.json
controllers:
  zigbee2mqtt:
    pod:
      annotations:
        backup.velero.io/backup-volumes: data
    containers:
      app:
        image:
          repository: koenkk/zigbee2mqtt
          tag: 2.7.2
        probes:
          liveness:
            enabled: false
            custom: true
            spec:
              tcpSocket:
                host: rpi4-ser2net.otohgunga.nl
                port: 20108
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 2
              failureThreshold: 3
        env:
          ZIGBEE2MQTT_DATA: /data
        securityContext:
          runAsUser: 1004
          runAsGroup: 1004
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            memory: 512Mi

service:
  app:
    controller: zigbee2mqtt
    ports:
      http:
        port: 8080

ingress:
  app:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-dns
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Control your Zigbee devices through a web interface.
      gethomepage.dev/group: Home Automation
      gethomepage.dev/icon: sh-zigbee2mqtt.svg
      gethomepage.dev/name: Zigbee2MQTT
      gethomepage.dev/app: zigbee2mqtt
    hosts:
      - host: zigbee2mqtt.otohgunga.nl
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - secretName: zigbee2mqtt-https-tls
        hosts:
          - zigbee2mqtt.otohgunga.nl

persistence:
  data:
    enabled: true
    existingClaim: local-zigbee2mqtt-pvc
    globalMounts:
      - path: /data
