# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/library/common/values.schema.json
controllers:
  frigate:
    pod:
      annotations:
        backup.velero.io/backup-volumes: data
        backup.velero.io/backup-volumes-excludes: cache
    containers:
      app:
        image:
          repository: ghcr.io/blakeblackshear/frigate
          tag: 0.16.3
        envFrom:
          - secretRef:
              name: camera-rtsp-config
        env:
          LIBVA_DRIVER_NAME: i965
          # LIBVA_DRIVER_NAME: iHD
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/version
                port: &port 5000
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false
        resources:
          requests:
            cpu: 500m
            memory: 1.5Gi
          limits:
            memory: 5Gi
        # TODO: We should find a way to increase security here
        securityContext:
          privileged: true
          # runAsUser: 1002
          # runAsGroup: 1002
          capabilities:
            add:
              - PERFMON
              - CAP_PERFMON

service:
  app:
    controller: frigate
    ports:
      http:
        port: *port

ingress:
  app:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-dns
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Video streams and webcam feeds
      gethomepage.dev/group: Home Automation
      gethomepage.dev/icon: sh-frigate.svg
      gethomepage.dev/name: Frigate
      gethomepage.dev/app: frigate
    hosts:
      - host: frigate.otohgunga.nl
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - secretName: frigate-https-tls
        hosts:
          - frigate.otohgunga.nl

persistence:
  data:
    enabled: true
    existingClaim: local-frigate-pvc
    globalMounts:
      - path: /data
      - path: /config
      - path: /media
  cache:
    enabled: true
    type: emptyDir
    medium: Memory
    sizeLimit: 128Mi
    globalMounts:
      - path: /dev/shm

  ## -- To enable GPU
  graphics:
    enabled: true
    type: hostPath
    hostPath: /dev/dri
    globalMounts:
      - path: /dev/dri
