# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/library/common/values.schema.json
controllers:
  jellyfin:
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
      annotations:
        backup.velero.io/backup-volumes: config
        backup.velero.io/backup-volumes-excludes: media,tmpfs
    containers:
      app:
        image:
          repository: ghcr.io/jellyfin/jellyfin
          tag: 10.11.5@sha256:cd7e4cb71812dd76988a725da615e37c6d0d24c200be904ad5d183e51f1dc6ed
        env:
          TZ: Europe/Amsterdam
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: &port 8096
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 10
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          capabilities: {drop: ["ALL"]}
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            memory: 8Gi
service:
  app:
    ports:
      http:
        port: *port

ingress:
  app:
    enabled: true
    className: ingress-nginx-media
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-dns
      gethomepage.dev/enabled: "true"
      gethomepage.dev/name: "Jellyfin"
      gethomepage.dev/icon: "jellyfin"
      gethomepage.dev/group: "Media"
      gethomepage.dev/description: Media library server
      gethomepage.dev/widget.url: "https://jellyfin.otohgunga.nl"
      gethomepage.dev/widget.key: '{{ "{{HOMEPAGE_VAR_JELLYFIN_API_KEY}}" }}'
      gethomepage.dev/widget.type: "jellyfin"
    hosts:
      - host: jellyfin.otohgunga.nl
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - secretName: jellyfin-https-tls
        hosts:
          - jellyfin.otohgunga.nl

persistence:
  config:
    existingClaim: local-jellyfin-pvc
    globalMounts:
      - path: /config
  media:
    existingClaim: local-media-pvc
    globalMounts:
      - path: /data/library
  tmpfs:
    type: emptyDir
    advancedMounts:
      jellyfin:
        app:
          - path: /cache
            subPath: cache
          - path: /config/log
            subPath: log
          - path: /tmp
            subPath: tmp
