controllers:
  homepage:
    strategy: Recreate
    annotations:
      reloader.stakater.com/search: "true"

    containers:
      app:
        image:
          repository: ghcr.io/gethomepage/homepage
          tag: v1.10.1@sha256:0b596092c0b55fe4c65379a428a3fe90bd192f10d1b07d189a34fe5fabe7eedb
        env:
          TZ: Europe/Amsterdam
          LOG_LEVEL: debug
          HOMEPAGE_ALLOWED_HOSTS: "homepage.otohgunga.nl"
        envFrom:
          - secretRef:
              name: homepage-secret
        resources:
          requests:
            cpu: 25m
            memory: 105M
          limits:
            memory: 225M
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
    serviceAccount:
      identifier: homepage

serviceAccount:
  homepage: {}

service:
  app:
    controller: homepage
    ports:
      http:
        port: 3000

ingress:
  app:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-dns
      nginx.ingress.kubernetes.io/proxy-body-size: 32m
    hosts:
      - host: homepage.otohgunga.nl
        paths:
          - path: /
            pathType: Prefix
            service:
              name: homepage
              port: 3000
    tls:
      - hosts:
          - homepage.otohgunga.nl
        secretName: homepage-tls

persistence:
  storage:
    existingClaim: local-homepage-pvc
    globalMounts:
      - path: /storage
  config:
    type: configMap
    name: homepage-config
    globalMounts:
      - subPath: kubernetes.yaml
        path: /app/config/kubernetes.yaml
      - subPath: docker.yaml
        path: /app/config/docker.yaml
      - subPath: settings.yaml
        path: /app/config/settings.yaml
      - subPath: bookmarks.yaml
        path: /app/config/bookmarks.yaml
      - subPath: services.yaml
        path: /app/config/services.yaml
      - subPath: widgets.yaml
        path: /app/config/widgets.yaml
