controllers:
  homepage:
    strategy: Recreate
    annotations:
      reloader.stakater.com/search: "true"

    containers:
      app:
        image:
          repository: ghcr.io/gethomepage/homepage
          tag: v1.7.0@sha256:b6ac42c31845ea7c862d71451c16413a6284430d8ff08e16ad791f42718a7c71
        env:
          TZ: Europe/Amsterdam
          LOG_LEVEL: debug
          HOMEPAGE_ALLOWED_HOSTS: "homepage.otohgunga.nl"
        resources:
          requests:
            cpu: 25m
            memory: 105M
          limits:
            memory: 225M
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
    serviceAccount:
      identifier: homepage

rbac:
  roles:
    homepage:
      type: ClusterRole
      rules:
        - apiGroups:
            - ""
          resources:
            - namespaces
            - pods
            - nodes
          verbs:
            - get
            - list
        - apiGroups:
            - extensions
            - networking.k8s.io
          resources:
            - ingresses
          verbs:
            - get
            - list
        - apiGroups:
            - metrics.k8s.io
          resources:
            - nodes
            - pods
          verbs:
            - get
            - list
        - apiGroups:
            - apiextensions.k8s.io
          resources:
            - customresourcedefinitions/status
          verbs:
            - get
            - list
  bindings:
    homepage:
      type: ClusterRoleBinding
      roleRef:
        identifier: homepage
      subjects:
        - identifier: homepage

serviceAccount:
  homepage: {}

service:
  app:
    controller: homepage
    ports:
      http:
        port: 3000

ingress:
  app:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/proxy-body-size: 32m
    hosts:
      - host: homepage.otohgunga.nl
        paths:
          - path: /
            pathType: Prefix
            service:
              name: app
              port: 3000
    tls:
      - hosts:
          - homepage.otohgunga.nl
        secretName: homepage-tls

persistence:
  config:
    type: configMap
    name: homepage
    globalMounts:
      - subPath: settings.yaml
        path: /app/config/settings.yaml
      - subPath: widgets.yaml
        path: /app/config/widgets.yaml
      - subPath: services.yaml
        path: /app/config/services.yaml
      - subPath: bookmarks.yaml
        path: /app/config/bookmarks.yaml
      - subPath: docker.yaml
        path: /app/config/docker.yaml
      - subPath: kubernetes.yaml
        path: /app/config/kubernetes.yaml
